<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body

		//- Introduce
		h1 Successfully!
		br
		p Now you have Browser Sync, Pug, Stylus, Autoprefixer, jQuery, Bootstrap Reboot
		br
		p: i Folder src/ for PSD templates, JPG previews etc.
		p: i Folder app/ for Pug and Stylus files.<br>app/pug/index.pug will transpiled to dist/index.html.<br>app/styl/main.styl will transpiled to dist/css/main.css
		p: i Folder dist/ - distributive folder - here transpiled index.html and css/main.css, and you can add here other CSS, JS, IMG, FONTS files
		br
		p: b Have a nice coding :)

		//- Scripts
		script(src="js/jquery-3.7.1.min.js")
		script(src="js/main.js")
